flows.json
[{"id":"fb645f4e.f421d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7e346816.00a0f8","type":"ui_form","z":"fb645f4e.f421d","name":"","label":"","group":"f8628d80.bda15","order":0,"width":0,"height":0,"options":[{"label":"CustomerID","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname","value":"snm","type":"text","required":true,"rows":null},{"label":"Credit Score","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"gpy","type":"text","required":true,"rows":null},{"label":"Gender","value":"gd","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Tenure","value":"tn","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"Num Of Products","value":"nop","type":"number","required":true,"rows":null},{"label":"Has Cr Card","value":"hcc","type":"number","required":true,"rows":null},{"label":"Is Active Member","value":"iam","type":"number","required":true,"rows":null},{"label":"Estimated Salary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"cid":"","snm":"","cs":"","gpy":"","gd":"","ag":"","tn":"","bal":"","nop":"","hcc":"","iam":"","es":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Submit your details here","x":70,"y":420,"wires":[["c3fa00c7.cf932"]]},{"id":"c3fa00c7.cf932","type":"function","z":"fb645f4e.f421d","name":"PreToken","func":"global.set(\"cid\",msg.payload.cid)\nglobal.set(\"snm\",msg.payload.snm)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"gpy\",msg.payload.gpy)\nglobal.set(\"gd\",msg.payload.gd)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"tn\",msg.payload.tn)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"hcc\",msg.payload.hcc)\nglobal.set(\"iam\",msg.payload.iam)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"wxljpESEHSZ-uoJv2MZErXh8mFWlaNrCwEUV1OXeSIEJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["bb7e8785.082ac8"]]},{"id":"bb7e8785.082ac8","type":"http request","z":"fb645f4e.f421d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":340,"wires":[["e88508ab.c91268"]]},{"id":"e88508ab.c91268","type":"function","z":"fb645f4e.f421d","name":"Pre Prediction","func":"var cid = global.get('cid')\nvar snm = global.get('snm')\nvar cs = global.get('cs')\nvar gpy = global.get('gpy')\nvar gd = global.get('gd')\nvar ag = global.get('ag')\nvar tn = global.get('tn')\nvar bal = global.get('bal')\nvar nop = global.get('nop')\nvar hcc = global.get('hcc')\nvar iam = global.get('iam')\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"3d173d3c-6aa8-44e1-881b-7e06304f0112\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"], \"values\": [[cid,snm,cs,gpy,gd,ag,tn,bal,nop,hcc,iam,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["a9a60340.70a6b"]]},{"id":"a9a60340.70a6b","type":"http request","z":"fb645f4e.f421d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/12c86676-d489-4ed3-b38a-5031bb5f5c05/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["96a94dd.e7c91b"]]},{"id":"96a94dd.e7c91b","type":"function","z":"fb645f4e.f421d","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["db8a20f1.7338d","b80edec1.93284"]]},{"id":"db8a20f1.7338d","type":"ui_text","z":"fb645f4e.f421d","group":"f8628d80.bda15","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":340,"wires":[]},{"id":"b80edec1.93284","type":"debug","z":"fb645f4e.f421d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":60,"wires":[]},{"id":"f8628d80.bda15","type":"ui_group","z":"","name":"internship","tab":"2a3a4ba2.77a904","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a3a4ba2.77a904","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]